.search {
  width: 30%;
}

.search-form__input {
  background-color: #fff;
  color: #000;
  border: solid #000 1px;
  border-radius: 3px;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 40px;
}

.search-form__input::placeholder {
  color: #000;
}

.navigation {
  width: 22%;
  display: flex;
  font-size: 1.2vw;
}

.header__link {
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.header__link-logout {
  margin: calc(4%-5px);
  padding: 2% 0;
}

.header__link-login,
.header__link-mypage {
  color: #fff;
  text-decoration: none;
  margin: 4%;
  padding: 2% 0;
}

.header__link-sell {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  border-radius: 2.5px;
  padding: 2% 6%;
  margin: 4%;
}

.content {
  display: flex;
  justify-content: center;
}

.all-contents {
  display: flex;
  width: 800px;
}

.left-content,
.right-content {
  width: 400px;
  margin: 40px 0;
}

.item-img {
  width: 350px;
}

.item-name {
  font-size: 28px;
  font-weight: bold;
}

.item-brand {
  font-size: 14px;
}

.item-price {
  font-size: 18px;
  padding: 5px;
}

.item-value {
  font-size: 24px;
  padding-right: 5px;
}

.item-evaluation {
  display: flex;
}

.item-likes,
.item-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.item-likes__icon {
  color: #bbb;
  font-size: 18px;
}

.item-likes__icon.liked {
  color: gold;
}

.button-buy,
.comment-form__button {
  margin: 20px 0 10px;
  padding: 3px;
  width: 100%;
  height: 38px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #f55;
  border-radius: 2.5px;
  text-align: center;
  border: none;
}

.item-detail,
.item-info {
  font-size: 20px;
}

.item-category,
.item-condition {
  margin: 10px 0;
  display: flex;
}

.item-category__ttl,
.item-condition__ttl {
  font-size: 16px;
  font-weight: bold;
}

.item-category__list {
  margin-left: 30px;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
}

.item-category__name {
  margin-right: 30px;
  font-size: 14px;
}

.item-condition__name {
  margin: 0 30px;
  font-size: 14px;
}

.item-description,
.comment-form__input {
  width: 100%;
  height: 80px;
  padding: 10px 0;
  resize: none;
}

.item-comment__title {
  color: #666;
  font-size: 24px;
  font-weight: bold;
}

.comment-form__ttl {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.item-comment__profile {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.comment-icon {
  margin-right: 5%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-user {
  font-weight: bold;
  padding: 10px 0;
}

.comment-content {
  display: inline-block;
  padding: 10px 10px;
  margin: 10px 0;
  width: 100%;
  height: 40px;
  font-size: 14px;
  resize: none;
  border-radius: 3px;
  background-color: #ddd;
}

.comment-form__input {
  border: solid #000 1px;
  border-radius: 2.5px;
  padding: 5px;
}

.item-comment__error-message {
  color: #f00;
}