.search{
  width: 30%;
}

.search-form__input {
  background-color: #fff;
  color: #000;
  border: solid #000 1px;
  border-radius: 3px;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 40px;
}

.search-form__input::placeholder {
  color: #000;
}

.navigation {
  width: 22%;
  display: flex;
  font-size: 1.2vw;
}

.header__link {
  color: #fff;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.header__link-logout {
  margin: calc(4%-5px);
  padding: 2% 0;
}

.header__link-login,
.header__link-mypage {
  color: #fff;
  text-decoration: none;
  margin: 4%;
  padding: 2% 0;
}

.header__link-sell {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  border-radius: 2.5px;
  padding: 2% 6%;
  margin: 4%;
}

.top-content__title {
  height: 90px;
  border-bottom: solid #555 2px;
  position: relative;
}

.top-content__ttl {
  color: #666;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.top-content__ttl-mylist {
  color: #666;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: calc(17% + 80px);
}

.active {
  color: red;
}

.item-contents{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0px;
}
.item-content{
  margin: 25px;
}

.item-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.item-link.sold {
  pointer-events: none;
}

.item-link.sold::before {
  content: 'Sold';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: fantasy;
  letter-spacing: 10px;
  z-index: 1;
}

.item-img{
  width: 260px;
  display: block;
  position: relative;
}

.item-name {
  font-size: 24px;
}